langchain
langchain-core
langchain-community
langchain-openai
langchain-text_splitters
langchain-huggingface
pypdf
pymupdf
ipykernel
langchain-chroma
sentence-transformers
langgraph
tavily-python 
langchain_tavily